In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
diabetes_dataset=pd.read_csv('./diabetes.csv')

In [3]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

# EDA

In [4]:
df=diabetes_dataset

In [8]:
df.shape

(768, 9)

In [9]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [13]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

# 0 non-diabetic people,1 diabetic

In [15]:
df.groupby('Outcome').describe()

        Pregnancies                                                Glucose  \
              count      mean       std  min   25%  50%  75%   max   count
Outcome
0             500.0  3.298000  3.017185  0.0  1.00  2.0  5.0  13.0   500.0
1             268.0  4.865672  3.741239  0.0  1.75  4.0  8.0  17.0   268.0

                     ... DiabetesPedigreeFunction           Age             \
               mean  ...                      75%    max  count       mean
Outcome              ...
0        109.980000  ...                  0.56175  2.329  500.0  31.190000
1        141.257463  ...                  0.72800  2.420  268.0  37.067164


               std   min   25%   50%   75%   max
Outcome
0        11.667655  21.0  23.0  27.0  37.0  81.0
1        10.968254  21.0  28.0  36.0  44.0  70.0

[2 rows x 64 columns]

* diabetic people have more glucose level in their blood, and so on.

# Separating data and the levels

In [17]:
X=df.drop(columns='Outcome',axis=1)
Y=df['Outcome']

# Data standardization