In [2]:
import pandas as pd
import numpy as np

df=pd.read_csv('datasets/lego_sets.csv')
theme=pd.read_csv('datasets/themes.csv')
theme.head()

   id            name  parent_id
0   1         Technic        NaN
1   2  Arctic Technic        1.0
2   3     Competition        1.0
3   4  Expert Builder        1.0
4   5           Model        1.0