# Import packages

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
all_rows=pd.DataFrame()

def print_rows_print_file(num):
    global all_rows
    files=[file for file in os.listdir('./Sales_Data')]
    num=str(num)
    for file in files:
        df=pd.read_csv('./Sales_Data/'+file)
        find_df=df[df['Order ID']==num]
        if len(find_df) > 0:
            print("Row found in file name : " + file)
            all_rows=pd.concat([all_rows,find_df])
        else:
            continue
    if len(all_rows)==0:
        print("This row could not be found in any of the files")
    else:
        print("The number of such rows found are : "+ str(len(all_rows)))
        print("And The rows are : ")
        print(all_rows)

In [3]:
print_rows_print_file(9)

Row found in file name : Sales_June_2019.csv
Row found in file name : Sales_May_2019.csv
Row found in file name : Sales_October_2019.csv
The number of such rows found are : 4
And The rows are :
   Order ID                   Product Quantity Ordered Price Each  \
51        9  Apple Airpods Headphones                1        150
4         9    AAA Batteries (4-pack)                2       2.99
3         9          27in FHD Monitor                1     149.99
9         9  Apple Airpods Headphones                1        150

          Order Date                           Purchase Address
51    06/23/19 13:06            120 Church St, Dallas, TX 75001
4   05-11-2019 22:55            17 Church St, Seattle, WA 98101
3     10/14/19 22:26  628 Jefferson St, New York City, NY 10001
9     10/16/19 16:19       742 14th St, San Francisco, CA 94016

In [4]:
all_rows.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
51,9,Apple Airpods Headphones,1,150,06/23/19 13:06,"120 Church St, Dallas, TX 75001"
4,9,AAA Batteries (4-pack),2,2.99,05-11-2019 22:55,"17 Church St, Seattle, WA 98101"
3,9,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001"
9,9,Apple Airpods Headphones,1,150,10/16/19 16:19,"742 14th St, San Francisco, CA 94016"